.NavbarItems {
    background: blueviolet;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;

}


.navbar-logo {
    color:#fff;
    justify-self: start;
    margin-left:20px;
    margin-right: 1100px;
    cursor:pointer;
}

.fa-react {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap:10px;
    list-style:none;
    text-align: centre;
    width:70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-container {
    background: #fff;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
}