@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size:18px;
}
html, body {
  height:100%;
}
body {
  font-family: "Poppins", sans-serif;
  display:flex;
  flex-direction:column;
}

header {
  flex: 1 0 auto;
}

main {
  flex: 1 0 auto;
  width:100%;
  height:100%;
  padding-top:1%;
  padding-left:3%;
  padding-right:3%;
}

footer {
  flex-shrink:0;
}

.container {
  max-width: 1200px;
  margin: 10px auto;
  overflow: auto;
  min-height: 100px;
  padding: 10px;
  border-radius: 5px;
}

.blue-border{
  border: 2px solid black;
}

.verbs-container {
  display: flex;
  align-items: flex-start;
  justify-content: left;
  max-width: 1200px;
  margin: 5px auto;
  overflow: auto;
  min-height: 200px;
  max-height: 600px;
  padding: 5px;
  border-radius: 5px;
}

.add-verbs-container {
  max-width: 1200px;
  min-width: 400px;
  overflow: scroll;
  height: 400px;
  padding: 5px;
  margin: 5px auto;
  border: 1px solid steelblue;
}

.current-verbs-container {
  max-width: 1200px;
  min-width: 400px;
  overflow: scroll;
  height: 400px;
  padding: 5px;
  margin: 5px auto;
}

.verb-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 5px auto;
  overflow: auto;
  min-height: 50px;
  border: 1px solid steelblue;
  padding: 5px;
  border-radius: 5px;
}

.verb h3 {
  align-items: center;
}
.header {
  flex: 1 0 auto;
  display: flex;
  flex-wrap:wrap;
  background: blueviolet;
}

.header h1 {
  width:25%;
  padding:5px;
  align-self: center;
  color: #fff;
  height:100%;
  font-size: 2.5vw;
}

.header img {
  padding:5px;
  width:4%;
  height:4%;
}

.search-box {
  padding: 10px;
  margin: 30px auto;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 20px;
  font-family: inherit;
}

.btn .minimal {
  padding: 5px 10px;
  margin: 3px;
  font-size: 10px;
}

.start {
  font-size: 50px;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
}

.task {
  background: #f4f4f4;
  margin: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.task.reminder {
  border-left: 5px solid green;
}

.task h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.add-form {
  margin-bottom: 40px;
}

.add-form p, h4 {
  margin:3%;
}

.add-form p {
  font-size:17px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display:flex;
  align-items: center;
  justify-content: right;
}

.default-deck {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height:100%;
}

.default-deck label {
  text-align:center;
  border:none;
  font-size: 23px;


}


.form-control-check label {
  font-size: 23px;
  text-align:left;
  min-width:70%;
  flex: 1;
}

.form-control-check .center {
  text-align:center;
}



.form-control-check input {
  flex: 2;
  align-self:right;
}

footer {
  margin-top: 30px;
  text-align: center;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  width:50%;
}
.width-50 {
  width:50%;
}

.muted {
  color: darkgrey;
}

.deck-container {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
  margin: 15px auto;
  overflow: auto;
  border: 1px solid steelblue;
  padding: 15px;
  border-radius: 5px;
}

.btn-decksettings {
  display: inline-block;
  justify-self: right;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.deck-title {
  justify-self: start;
  margin-left: 20px;
  margin-right: 200px;
  cursor: pointer;
}

.word {
  text-align:left;
  display: flex;
  align-items: center;
  justify-content: left;
  max-width: 700px;
  margin: 10px auto;
  overflow: auto;
  border: 3px solid rgb(187, 53, 75);
  padding: 10px;
  border-radius: 10px;
}

.word-container {
  width: 77%;
  float: left;
}

.right {
  display:flex;
  justify-content:flex-end;
  align-items:center;
}

.left {
  display:flex;
  justify-content:flex-start;
  align-items:center;
}

.center {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
}

.btn-word {
  justify-self:right;
  border: 1px solid steelblue;
  padding: 10px 10px;
  margin: 3px;
  text-align: center;
  font-size: 15px;
  width:80%;
}

.search-words-container {
  width:45%;
  max-width: 1200px;
  margin: 15px auto;
  overflow: auto;
  border: 2px solid black;
  height:100%;
  padding: 15px;
  border-radius: 5px;

}

.add-flashcards-container {
  justify-content: center;
  max-width: 1200px;
  margin: 30px auto;
  overflow: auto;
  min-height: 200px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.horizontal-align {
  display:flex;
  justify-content:center;
  align-items:flex-start
}

.scroll {
  max-height:400px;
  overflow:scroll;
}

table {
  width:100%;
  border-spacing: 5px;
  padding:5px;
}

tr {
  border:1px solid black;
  padding:5px;
}

th {
  padding-left: 10px;
}

.table-container {
  border:1px solid black;
  overflow-x:hidden;
  height:80%;
}

p {
  font-size:1vw;
}
article {
  border:1px solid steelblue;
  border-radius: 15px;

}
article header {
  margin:50px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.deck-Navbar {
  background:white;
  display: flex;
  justify-content: center;
  align-items:center;
  border-radius: 0px 0px 5px 5px;
  font-size: 1.2rem;
  width:100%;
}

.deck-menu {
  padding: 2px;
  color:steelblue;
  width:95%;
  display:grid;
  grid-template-columns: repeat(4,auto);
  grid-gap:1%;
  list-style:none;


}

.deck-menu li {
  border: 3px solid white;
  display:flex;
  color:white;
  cursor: pointer;
  background:steelblue;
  border-radius:10px;
  justify-content:center;
}